@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .customBG {
        background: hsl(0, 0%, 4%);
        background-image: url('./../public/bg.png');
    }

    

    .carouselContainer{
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      overflow: auto;
    }

    
    .carousel {
      scroll-snap-align: start;
    }

    .carousel-scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
    
    .carousel:hover > div:not(:hover) {
      filter: blur(4px)
    }

    .CarouselItem {
      flex: 0 0 320px;
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }

    .CarouselItem:hover::before{
      content: '';
      background-color: #64646434;

    }
  }
