@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .customBG {
      background: rgb(34,34,34);
      background: linear-gradient(82deg, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 81%, rgb(15, 28, 18) 100%);
    }

    /*custom carousel*/
    .carouselContainer{
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      overflow: auto;
    }

    .carouse {
      scroll-snap-align: start;
    }

    /*trending padding in home section*/
    .pd{
        padding-left: 0.8rem;
      }

    .carousel-scrollbar-hide::-webkit-scrollbar {
      display: none;
    }

    .CarouselItem{
        flex: 0 0 200px;
        height: 100%;scroll-snap-align: start;
      scroll-snap-stop: always;
      }

    .CarouselItem:hover::before{
      content: '';
      background-color: #64646434;
    }

    /*search icon in the search box*/
    .searchIcon{
      font-size: 15px;
    }

    /*next icon in movies and tvshows pages see more*/
    .nextIcon{
      font-size: 15px;
    }

    .starIcon{
      font-size: 11px;
    }

    @media only screen and (min-width: 768px){

      .CarouselItem {
      flex: 0 0 320px;}

      .pd{
        padding-left: 2.5rem;
      }

      .searchIcon{
        font-size: 20px;
      }

      .starIcon{
        font-size: 17px;
      }

      .nextIcon{
        font-size: 20px;
      }

      .item{
        flex: 0 0 10rem;
      }
  
    }

    .item{
      flex: 0 0 7rem;
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }

    /*more custorm slider props for carousels other than the homepage's*/
    .slider{
      scroll-snap-align: start;
    }

    .posterItem{
      flex: 0 0 14rem;
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }

    .castItem{
      flex: 0 0 3.5rem;
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }

    /*custom scrollbar*/
    .customScrollBar::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }
    
    .customScrollBar::-webkit-scrollbar
    {
      width: 10px;
      background-color: #F5F5F5;
    }
    
    .customScrollBar::-webkit-scrollbar-thumb
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #122d28;
    }


    .vignette {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 2px -250px 110px -40px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 2px -250px 110px -40px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 2px -250px 110px -40px rgba(0,0,0,0.75) inset;
    }
    
  }
